.item {
    display: flex;
    padding: 8px;
    align-items: center;
}

.itemContentRight {
    flex-direction: row-reverse;
}

.itemContent {
    display: flex;
    align-items: center;
}

.itemContentResult {
    padding: 6px;
}

.itemContentResultLeft {
    text-align: right;
    margin-right: 32px;
}

.itemContentResultRight {
    text-align: left;
    margin-left: 32px;
}

.itemContentBattleStatusResult {
    font-size: var(--font-12);
    margin-bottom: 4px;
}

.itemContentBattleStatusVictory {
    color: var(--color-green);

}

.itemContentBattleStatusDefeat {
    color: var(--color-red);
}

.itemContentBattleStatusDraw {
    color: var(--color-violet);
}

.itemContentTitle {
    font-size: var(--font-20);
    font-weight: 100;
}


.itemContentLogo {
    width: 102px;
}



.itemContentScore {
    font-size: var(--font-48);
    margin: 0 32px;
}

.textDetailMatch {
    color: var(--color-green);
    font-size: var(--font-48);
    margin: 0 16px;
}


.wrapperDataDetailResults {
    padding: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 64px;
}

.dataDetailResults {
    font-size: var(--font-12);
    margin-bottom: 4px;
}

.timeDetailResults {
    font-size: var(--font-12);
    color: var(--color-green);
}