
.item {
    display: flex;
    align-items: flex-start;
    padding: 8px;
}

.itemStatistics {
    flex: 1;
    border-radius: 8px;
    border: var(--border);
    overflow: hidden;
}

.itemStatisticsRight{
    margin-left: 8px;
}

.itemStatisticsLeft {
    margin-right: 8px;
}

.itemHeader {
    border-bottom: var(--border);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    background-color: var(--color-bg-lighter);
}

.itemHeaderTeamName {
    width: 240px;
}
