.item {
    display: flex;
    flex-direction: column;
    width: 262px;
    background-color: var(--color-background-light);
    border-radius: 8px;
    padding: 4px;
    margin-top: 8px;
    border: solid 1px var(--color-border);
}

.itemTitle {
    color: var(--color-grey);
    font-size: var(--font-14);
    font-weight: bold;
    margin-bottom: 4px;
}

.itemDescription {
    font-size: var(--font-12);
}

