.component {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  margin-bottom: 8px;
}

.dropdown {
  position: relative;
}

.input {
  font-size: 14px;
  color: var(--color-grey);
  padding: 15px;
  overflow: hidden;
  border: 1px solid var(--color-grey);
  border-radius: 6px;
  background: var(--color-dark-extra);
  position: relative;
  cursor: pointer;
}

.inputActive {
  border: 1px solid var(--color-green);
}

.inputIcon {
  width: 20px;
  height: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 0;
}


.dropdownMenuContainer {
  position: relative;
}

.dropdownMenu {
  border: 1px solid var(--color-green);
  background: var(--color-dark-extra);
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
}

.dropdownMenuItem {
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;

  &:hover {
    background: var(--color-green-ghost);
  }
}
