

.item {
    background-color: var(--color-dark-extra);
    padding:16px;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px 16px;

    &__title {
        font-size: 20px;
        font-weight: bold;
    }
}

.list {
    display: flex;
    padding: 16px;
    justify-content:center ;
    align-items: center;
    margin-top: 16px;

    &__number {
        width: 28px;
        font-size: 14px;
        text-align: center;
        border-radius: 4px;
        border: solid 1px var(--color-violet);
        padding: 4px;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            background-color: var(--color-violet);
        }
    }

    &__number + &__number {
        margin-left: 4px;
    }
}

.image {

    &__img {

    }
}

.forumDetailListDots {
    margin: 0 8px;
}


.comment {
    background-color: var(--color-dark-extra);
    border-radius: 8px;
    margin-top: 24px;
    padding: 24px;

    &__title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 32px;
        border-bottom: solid 1px var(--color-border-light);
        padding: 8px;
    }
}

.content {
    display: flex;
}

.textarea {
    flex: 1;
    margin-right: 24px;
    margin-bottom: 16px;
    justify-content: end;
}

.button {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}
