.rounds {
    width: 100%;
    height: auto;
    background: var(--gradient-green);
    border-radius: 4px;
    padding: var(--spacing-3);
    margin-bottom: var(--spacing-3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.roundsSlider {
    display: flex;
    overflow: hidden;
}

.roundsSliderTrack {
    display: flex;
    transition: all 0.3s ease;
}

.roundsSliderItem {
    flex: 0 0 calc(100%/3);
}


.roundsIcon {
    flex-shrink: 0;
    cursor: pointer;
}

.roundsIcon:hover {
    color: var(--color-bg);
}

.roundsIconLeft {
    margin-right: 16px;
}

.roundsIconRight {
    margin-left: 16px;
}

.tournaments {
    background-color: var(--color-background-light);
    display: flex;
    padding: 24px;
    border: solid 1px var(--color-border);
    border-radius: 8px;
}