.item {
    padding-right: var(--spacing-6);
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    position: relative;
}

.itemPlayer {
    width: 200px;
    display: flex;
    align-items: center;
}

.itemPlayerLeft.itemPlayer {
    flex-direction: row;
}

.itemInfo {
    margin-left: 16px;
}

.itemPlayerLeft .itemInfo {
    margin-left: 16px;
}

.itemPlayerLeft .itemInfoNickName {
    text-align: left;
}

.itemPlayerLeft .itemInfoLevel {
    text-align: left;
}

.itemPlayerRight.itemPlayer {
    flex-direction: row-reverse;
}

.itemPlayerRight .itemInfo {
    margin-right: var(--spacing-2);
}

.itemPlayerRight .itemInfoNickName {
    text-align: right;
}

.itemPlayerRight .itemInfoLevel {
    text-align: right;
}

.itemInfoNickName {
    font-weight: bold;
    font-size: var(--font-size-md);
    color: var(--color-white);
}

.itemInfoLevel {
    font-size: var(--font-size-sm);
    color: var(--color-green-dark);
}
