.banner {
    height: 400px;
    padding: var(--spacing-4);
    margin-bottom: var(--spacing-5);
    border-radius: var(--radius-lg);
    background: var(--color-background-light);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    position: relative;
}

.bannerBody {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerBodyImage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.bannerBodyImage:after {
     content: "";
     width: 100%;
     height: 100%;
     background: linear-gradient(180deg, rgba(255,255,255,0) 0, rgba(0,0,0,1) 100%);
     position: absolute;
     left: 0;
     bottom: 0;
 }

.bannerBodyImageImg {
    width: 100%;
}

.bannerBodyUser {
    z-index: 30;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bannerBodyUserInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progressBar {
    width: 240px;
    height: 8px;
    background-color: var(--color-green);
    border-radius: var(--radius-6);
    margin-top: var(--spacing-1);
}


.userName {
    font-size: var(--font-size-xl);
    font-weight: bold;
    margin-top: var(--spacing-1);

}

.userMembership {
    font-size: var(--font-size-md);
    margin-bottom: var(--spacing-2);
    color: var(--color-green-darker);
}

.userSocials {
    display: flex;
}

.userSocialsLink {
    color: var(--color-white);
}

.userSocialsItem {
    margin-right: var(--spacing-2);
    display: flex;
}

.userSocialsItemIcon {
    margin-right: var(--spacing-1);
}

.userSocialsItemName {
    font-size: var(--font-size-sm);
    line-height: var(--spacing-3);
}