.item {
    flex-basis: 196px;
    display: flex;
    margin-right: 16px;
}

.itemImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.itemImageImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemContent {
    align-items: center;
    padding: 4px;
    margin-left: 8px;
}

.itemContentTitle {
    font-weight: bold;
}

.itemContentDescription {
    font-size: var(--font-12);
    color: var(--color-grey);
}