.item {
  background-color: var(--color-background-light);
  border-radius: 8px;
  margin-top: 24px;
  padding: 24px;

  &__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 32px;
    border-bottom: solid 1px var(--color-border);
    padding: 8px;
  }
}

.content {
  display: flex;
}

.textarea {
  flex: 1;
  margin-right: 24px;
  margin-bottom: 16px;
  justify-content: end;
}

.button {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
