.activityInfo {
    background-color: var(--color-bg);
    border-radius: 4px;
    padding: 24px;
}

.title {
    font-weight: bold;
    margin-bottom: 8px;
}

.description {
    color: var(--color-grey);
    margin-bottom: 16px;
}

.button {
    margin-bottom: 16px;
}

.infoContainer {

}

.infoItem {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.infoItemIcon {
    margin-right: 8px;
}

.infoItemText {
    color: var(--color-grey);
}
