.item {
    background-color: var(--color-background-light);
    padding: 24px;
}

.itemHeadTitle {
    font-weight: bold;
    margin-bottom: 8px;
}

.itemHeadDescription {
    color: var(--color-grey);
    margin-bottom: 16px;
}

.itemButton {
    margin-bottom: 16px;
}

.itemContent {

}

.infoItem {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.infoItemIcon {
    margin-right: 8px;
}

.infoItemText {
    color: var(--color-grey);
}
