.item {
    overflow: hidden;
    background: var(--color-dark);
    border-radius: 6px;
    border: solid 1px var(--color-grey);
    box-shadow: var(--box-shadow);
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.itemImage {
    width: 100%;
    min-height: 150px;
    background: var(--color-grey);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.content {
    padding: 24px;
}

.contentTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.contentDescription {
    font-size: 14px;
    height: 36px;
    overflow: hidden;
    margin-bottom: 24px;
}

.contentInfo {
    display: flex;
}

.contentInfoItem {
    font-size: 12px;
    font-weight: bold;
    color: var(--color-text-grey);
    line-height: 16px;
    position: relative;
    display: flex;

    & + & {
        margin-left: 16px;
    }
}

.contentInfoItemIcon {
    color: var(--color-text-grey);
    margin-right: 8px;
}


