.item {
    background-color: var(--color-background-light);
    border-radius: var(--radius-8);
    padding: 24px;
}

.itemContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.itemContentTitle {
    font-size: var(--font-24);
    font-weight: bold;
    margin-bottom: 8px;
}

.itemContentData {
    font-size: var(--font-12);
    font-weight: bold;
    color: var(--color-grey);
    margin-bottom: 16px;
}

.itemContentDescription {
    overflow: hidden;
}

.itemButton {

}

.itemButtonBtn {
    height: 40px;
}