.item {
  display: flex;
  align-items: flex-start;
  padding: 8px;
}

.statistic {
  flex: 1;
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  overflow: hidden;

  &__left {
    margin-right: 8px;
  }

  &__right {
    margin-left: 8px;
  }
}

.header {
  border-bottom: 1px solid var(--color-grey);
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  background-color: var(--color-background-overlay);

  &__name {
    width: 240px;
  }
}
