.item {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--color-border);
    width: 640px;
    height: 640px;
}

.itemHeader {
    background-color: var(--color-background-light);
    padding: 8px;
    border-bottom: solid 1px var(--color-border);
}

.itemHeaderTitle {
    font-weight: bold;
}

.itemHeaderDescription {
    font-size: var(--font-12);
    color: var(--color-grey);
}

.itemMessagesContainer {
    flex: 1;
    overflow-y: auto;
    padding: 8px;
    display: flex;
}

.itemMessages {
    align-self: flex-end;
    /*height: 100%;*/
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*flex-direction: column;*/
}

.itemInputButton {
    background-color: var(--color-background-light);
    border-top: solid 1px var(--color-border);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.itemInputTextArea {
    height: 64px;
}

.itemInputButtonBtn {
    height: 32px;
}