

.item {
    background-color: var(--color-black);
    border-radius: 8px;
    padding: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    &__title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    &__data {
        font-size: 12px;
        font-weight: bold;
        color: var(--color-grey);
        margin-bottom: 16px;
    }

    &__description {
        overflow: hidden;
    }
}

.button {


    &__btn {
        height: 40px;
    }
}

