.componentTeamForm{
    padding: 24px;
    max-width: 380px;
    background-color: var(--color-bg);
    position: relative;
}

.componentClose {
    position: absolute;
    right: 12px;
    top: 12px;
}

.contentTeamForm {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.titleTeamForm {
    font-size: var(--font-20);
    font-weight: bold;
    margin-bottom: 4px;
}

.descriptionTeamForm{
    color: var(--color-grey);
    margin-bottom: 12px;
    flex-direction: column;
}

.inputAllTeamAdd {
    display: flex;
    flex-direction: column;
}

.inputTeamAdd {
    margin-bottom: 16px;
}



.buttonAddTeam {
    margin-bottom: 16px;

}

.buttonAddTeamBtn {
    width: 100%;
}