.textareaContainer {
    position: relative;
}

.textareaField {
    font-size: 14px;
    color: var(--color-white);
    font-family: inherit;
    background-color: var(--ui-dark);
    width: 100%;
    padding: var(--spacing-3) var(--spacing-2) var(--spacing-1) var(--spacing-2);
    border-radius: var(--radius-md);
    border: solid 1px var(--color-border);
    transition: all 0.3s ease;
    outline: none;
}

.textareaField:focus {
    border: solid 1px var(--color-green);
    box-shadow: var(--box-shadow-green);
}

.textareaPlaceholder {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey);
    position: absolute;
    top: var(--spacing-2);
    left: var(--spacing-2);
    transition: all 0.3s ease;
}

.textareaPlaceholderModified {
    font-size: 12px;
    line-height: 14px;
    top: var(--spacing-1);
}