

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.root {
    width: 80px;
    height: 80px;
    padding: 8px;
    border-radius: 8px;
    background: var(--color-background-overlay);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.item {
    width: 64px;
    height: 64px;
    border: solid 8px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: relative;

    &__line {
        width: 64px;
        height: 64px;
        border: solid 8px transparent;
        border-top-color: var(--color-white);
        border-radius: 50%;
        position: absolute;
        top: -8px;
        left: -8px;
        animation: spin 2s ease-in-out infinite;
    }
}



