.item {
    padding: 16px;
    background-color: var(--color-background-light);
    width: 100%;
    height: 100%;
    margin-bottom: var(--spacing-3);
    border-radius: 8px;
    border: solid 1px var(--color-border);
}

.achievementsHeader{
    display: flex;
    justify-content: space-between;
}

.teamLabels{
    display: flex;
    align-items: center;
}

.statusHeader {
    min-width: 70px;
    padding: 4px 8px;
    color: var(--color-bg);
    border-radius: 24px;
    margin-bottom: 12px;
    text-align: center;
    background-color: var(--color-green);
    align-items: normal;
    font-size: var(--font-12);
}

.statusHeader + .statusHeader {
    margin-left: 24px;
}

.rightAchievementsHeader {
    display: flex;

}

.componentStatusHeader {
    display: flex;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 12px;
    margin-right: 24px;
    padding: 4px;
    background-color: var(--color-green);
    opacity: 80%;
    align-items: center;
    cursor: pointer;
}

.componentStatusHeader:hover {
    background-color: var(--color-violet);
}

.statusTextHeader {
    color: var(--color-bg);
    width: 96px;
}

.buttonIconColorHeaderMatches {
    color: var(--color-bg);
}

.additionalMenuHeader {
    width: 100%;
    color: var(--color-green);
    cursor: pointer;
}

.additionalMenuHeader:hover {
    color: var(--color-violet);
}

.componentInfoMatchesBanner{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 32px 0;
}

.tabsMatchesBanner {
    display: flex;
    border-bottom: solid 1px var(--color-bg-dark);
}

.wrapperTabsContentMatches {
    margin-right: 16px;
    padding: 8px;
    position: relative;
}

.wrapperTabsContentMatches:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--color-white);
}

.amountMatches {
    font-size: var(--font-10);
    color: var(--color-bg);
    font-weight: bold;
    text-align: center;
    width: 24px;
    height: auto;
    background-color: var(--color-green);
    border-radius: 4px;
    position: absolute;
    right: -10px;
    top: -10px;
}

.nameMatchesBanner {
    font-size: var(--font-12);
    font-weight: bold;

}

.imageInfoMatchesBanner {
    width: 160px;
}

.textBannerInfoMatchesBanner{
    padding: 20px;
}

.infoShareMatchesBanner {
    width: 240px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoJoinMatchesBanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonJoinMatchesBanner {
    color: var(--color-bg);
    padding: 6px;
    font-size: var(--font-14);
    display: flex;
    text-align: left;
    justify-content: center;
    border-radius: 16px;
    width: 152px;
    background-color: var(--color-green);
    border-color: var(--color-green-darker);
    cursor: pointer;
}

.buttonJoinMatchesBanner:hover {
    background-color: var(--color-violet);
    border-color: var(--color-violet);
}

.textContentJoinMatchesBanner {
    font-size: var(--font-12);
    color: var(--color-violet);
}

.textContentMatchesBanner{
    font-size: var(--font-14);
}

.buttonShareMatchesBanner {
    color: var(--color-bg);
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    border-radius: 8px;
    width: 72px;
    opacity: 80%;
    background-color: var(--color-green);
    border: none;
    cursor: pointer;
}

.buttonShareMatchesBanner:hover {
    background-color: var(--color-violet);
}

.contentTextMatches{
    font-size: var(--font-20);
    margin-bottom: 12px;
}