.item {
    height: auto;
    border-radius: 8px;
    padding: 8px;
    color: inherit;
    flex: calc(100%/3);
    flex-grow: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.item:hover {
    transform: scale(1.05);
}


.itemHeader {
    position: relative;
}

.itemHeaderImage {
    max-height: 140px;
    overflow: hidden;
}

.itemHeaderImageImg {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.itemHeaderInfo {
    display: flex;
    position: absolute;
    top: 16px;
    left: 16px;
}

.itemHeaderStats {
    background-color: var(--color-background-overlay);
    padding: 4px;
    align-items: center;
    display: flex;
}

.itemHeaderStatsLeft {
    border-radius: 8px 0 0 8px;
}

.itemHeaderStatsRight {
    border-radius: 0 8px 8px 0;
}

.itemHeaderStatsIcon {
    margin-right: 4px;
}

.itemHeaderStatsLabel {
    font-size: var(--font-12);
}

.itemContent {
    display: flex;
    padding: 16px;
    align-items: center;
    border-radius: 0 0 8px 8px;
    background-color: var(--color-background-light);
}

.itemContentText {
    margin-left: 16px;
}

.itemContentTextTitle {
    font-weight: bold;
    margin-bottom: 4px;
}

.itemContentTexDescriptionInfo {
    display: flex;
}

.itemContentTexDescription {
    font-size: var(--font-14);
    color: var(--color-grey);
}

.itemContentDescriptionSeparation {
    margin: 0 8px;
}