

.item {
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}

.inner {
    height: 400px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    position: relative;
    z-index: 100;
}

.controls {
    display: flex;
    position: absolute;
    top: 32px;
    left: 32px;
    z-index: 200;

    &__item {
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: var(--color-white);
        border-radius: 50%;
        position: relative;
    }

    &__icon {
        color: var(--color-dark-extra);
        margin: 0;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.controls__item + .controls__item  {
    margin-left: 8px;
}


