.userActivity {
    padding: 24px;
    background-color: var(--color-bg);
    border-radius: 4px;
}

.userActivityList {
    overflow-y: scroll;
}

.userActivityItem {
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--color-border);
    padding: 16px 0;
}

.userActivityTime {
    margin-right: 16px;
    color: var(--color-grey);
    font-size: var(--font-12);
}

.userActivityIcon {
    margin-right: 24px;
}

.userActivityContent {
    flex: 1;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userActivityTitle{

}

.userActivitySubtitle {
    color: var(--color-green);
    font-size: var(--font-12);
}
