.item {
    background-color: var(--color-background-light);
    padding: 24px;
    color: inherit;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius-8);
    border: solid 1px var(--color-border);
}

.item + .item {
    margin-top: 8px;
}


.itemContent {
}

.itemContentTitle {
    font-size: var(--font-18);
    font-weight: bold;
    margin-bottom: 4px;
}

.itemContentTitleRead {
    color: var(--color-grey);
}

.itemContentData {
    color: var(--color-grey);
    font-size: var(--font-12);
    margin-bottom: 8px;
}

.itemContentDescription {
    overflow: hidden;
}

.itemContentDescriptionRead {
    color: var(--color-grey);
}

.notificationIndicator {
    width: 8px;
    height: 8px;
    background: var(--color-green);
    outline: solid 4px var(--color-background-light);
    border-radius: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}