.item {
    color: var(--color-grey-100);
    padding: 16px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    position: relative;
    transition: all 0.3s ease;

    &:not(.itemActive):hover {
        color: var(--color-white);
        background: var(--color-grey-900);
    }
}

.itemActive {
    color: var(--color-black);
    background: var(--color-green);
    opacity: 1;

    &:after {
        content: "";
        width: 4px;
        height: 100%;
        background: var(--color-green);
        position: absolute;
        top: 0;
        right: 0;
    }

    &:hover {
        background: var(--color-green);
    }
}

.itemCollapsed {
    width: 48px;
    height: 48px;

    &:after {
        display: none;
    }
}

.container {
    display: flex;
    align-items: center;
}

.containerIcon {
    color: inherit;
}

.containerLabel {
    font-size: 16px;
    margin-left: 8px;
}



