.item {

}

.form {
    margin-bottom: 16px;
}

.achievements {
    margin-bottom: 16px;
}

.profile {
    background-color: var(--color-background-light);
    border-radius: 8px;
    display: flex;
    margin-bottom: 16px;
}
