.container {
  max-width: 148px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressBar {
  height: 4px;
  max-width: 100px;
  width: 100%;
  background: var(--color-grey);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.progressBarFill {
  height: 4px;
  width: 33%;
  background: var(--color-green);
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.caption {
  font-size: 14px;
  color: var(--color-grey);
  display: flex;
  margin-bottom: 8px;
}