

.item {

    .head {
        display: flex;
        justify-content: space-between;

        .btn {
            padding: 0 8px;
            height: 40px;
        }
    }
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.grid {
    margin: 0 -16px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
