.item {
    display: flex;
    flex-direction: column;
    padding: 8px;

    &__name {
        font-size: 14px;
        font-weight: bold;
        margin-left: 16px;
    }

    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }

}

.description {
    padding: 4px;
    border-bottom: solid 1px var(--color-border);

    &__text {
        font-size: 14px;
        margin-bottom: 8px;
    }
}

.data {
    font-size: 12px;
    color: var(--color-grey);
}