.item {
    padding: 24px;
}

.itemTitle {
    font-size: var(--font-20);
    font-weight: bold;
}

.itemHeaderBanner {
    display: flex;
    justify-content: center;
    margin: 48px 0;
    background-image: url("");
}

.itemFilter {
    margin-bottom: 16px;
}


.itemTournamentsList {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
}



