.wrapperTournamentsPage {
    background-color: var(--color-bg);
    padding: 24px;
}

.tournamentsList {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
}

.tournamentActionsBanner {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    background-image: url("");
}

.tournamentActionsBannerColumn {
    margin: 0 48px;
}
