.item {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__tabs {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-green);
    font-weight: bold;
    margin-right: 4px;
  }

  &__icon {
    color: var(--color-green);
  }
}
