.menu {
    width: 240px;
    padding: 8px;
    background: var(--color-dark-extra);
    border: solid 1px var(--color-grey);
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 56px;
    right: 0;
}




