.item {
    padding: 24px;
    border-radius: 8px;
}

.itemTitle{
    font-size: var(--font-24);
    font-weight: bold;
    padding: 8px;
    margin-bottom: 24px;
}

.itemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}


.itemHeaderTitle {
    font-size: var(--font-12);
    color: var(--color-grey);
}

.itemGamesList {
    display: flex;
    flex-wrap: wrap;
}

.itemStreamList {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
}