//BACKGROUND COLOR

$bgBlack: #21212E;
$bgBlue: #3C3C54;
$bgGrey: #3D414A;
$bgWhite: #FFFFFF;

//BORDER-RADIUS
$border: #484D5A;


//ERROR
$error: #FF6B69;
$errorOpacity: rgba(255, 107, 105, 0.3);

//TEXT-COLOR
$text: #7C839A;
$textOpacity: rgba(176, 184, 204, 1);

//PRIMARY
$primary: #13C486;
$primaryOpacity: rgba(19, 196, 134, 0.3);

//SECONDARY
$secondary: #928FFF;
$secondaryOpacity: rgba(146, 143, 255, 0.3);


