html,
body {
    font-family: 'AvenirNextCyr', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-white);
    background: var(--color-dark-extra);
}

a {
    color: var(--color-violet);
    cursor: pointer;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

*::-webkit-scrollbar-track {
    background: var(--color-grey);
    border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
    background: var(--color-green);
    box-shadow: inset 2px 2px 5px 0 rgba(255,255,255, 0.5);
    border-radius: 3px;
}





