@import "vars.scss";
@import "fonts.scss";

html,
body {
    font-family: var(--font-body);
    font-size: 16px;
    color: var(--color-white);
    background: var(--color-background);
}

a {
    color: var(--color-link);
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--header-weight);
    line-height: var(--header-lh);
}

h1 {
    font-size: var(--h1-size);
    letter-spacing: var(--header-ls);
}

*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

*::-webkit-scrollbar-track {
    background: var(--color-border);
    border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
    background: var(--color-green);
    box-shadow: inset 2px 2px 5px 0 rgba(255,255,255, 0.5);
    border-radius: 3px;
}





