//BACKGROUND COLOR

//$bgBlack: rgba(33, 33, 46, 1); //#21212E
$bgBlue: rgba(60, 60, 84, 1); //##3C3C54
$bgGrey: rgba(61, 65, 74, 1); //#3D414A
$border: rgba(72, 77, 90, 1); //##484D5A


//$white: rgba(255, 255, 255, 1); //#FFFFFF

//BORDER-RADIUS



////ERROR
//$error: rgba(255, 107, 105, 1); //#FF6B69
//$errorOpacity: rgba(255, 107, 105, 0.3);

//TEXT-COLOR


////PRIMARY
//$primary: rgba(19, 196, 134, 1); //#13C486
//$primaryOpacity: rgba(19, 196, 134, 0.3);
//
////SECONDARY
//$secondary: rgba(146, 143, 255, 1); //#928FFF
//$secondaryOpacity: rgba(146, 143, 255, 0.3);




