.itemUserHeader {
    margin-bottom: 16px;
}

.itemAchievementsBar {
    margin-bottom: 16px;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.column {
    flex: 1;
    margin: 8px;
}