

.item {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.item.item__active {
    z-index: 20;
    opacity: 1;
}

.content {
    padding: 32px;
    position: absolute;
    left: 0;
    bottom: 0;

    &__frame {
        width: 100%;
        height: 100%;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(-150deg, rgba(247,247,247,0) 0%, rgba(25,25,30,1) 100%);
        }
    }

    &__game {
        margin-bottom: 10px;
        position: relative;
        display: flex;
    }

    &__text {
        font-size: 14px;
        font-weight: bold;
        line-height: 24px;
    }
}

.icon {
    margin-right: 8px;
}

.title {
    font-size: 32px;
    margin-bottom: 10px;
}

.description {
    font-size: 18px;
    margin-bottom: 20px;
}