.footer {
  max-width: calc(100% - 320px);
  height: 96px;
  margin-left: 320px;
  border-top: 1px solid var(--color-grey);
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: var(--color-background);

  &.footerCollapsed {
    max-width: calc(100% - 90px);
    margin-left: 90px;
  }
}


.footerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerInfoDocs{
  color: var(--color-white);
}

.footerInfoYears {
  color: var(--color-white)
}
