.footer {
  font-size: 12px;
  color: var(--color-text-grey);
  max-width: calc(100% - 320px);
  height: 96px;
  margin-left: 320px;
  border-top: 1px solid var(--color-grey);
  padding: 30px;
  background: var(--color-dark);

  &.footerCollapsed {
    max-width: calc(100% - 90px);
    margin-left: 90px;
  }
}

.footerLinkList {
  margin-bottom: 8px;
}

.footerLink {
  color: var(--color-text-grey);

  &:hover {
    text-decoration: underline;
  }
}

.footerCopyright {
  color: var(--color-text-grey);
}

