.item {
  border-top: 1px solid var(--color-grey);
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  padding: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.infoDocs{
  color: var(--color-white);
}

.infoYears {
  color: var(--color-white)
}
