.item {
  margin-bottom: 16px;
}

.form {
  margin-bottom: 16px;
}

.wrapper {
  margin-bottom: 16px;
}

//.row {
//    display: flex;
//    flex-direction: row;
//    margin-bottom: 16px;
//}

//.column {
//    background-color: var(--color-black);
//    flex: 1;
//}

.team {
  background-color: var(--color-grey-900);
  margin-bottom: 16px;
}

.noTeam {
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noTeamTitle {
  margin-bottom: 24px;
}

.matches {
  background: var(--color-grey-900);
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.matchesTitle {
  margin-bottom: 24px;
}
