.button {
  min-width: 180px;
  height: 48px;
  font-size: 14px;
  font-family: inherit;
  background: var(--color-green);
  color: var(--color-dark-extra);
  border: solid 1px var(--color-green-400);
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;

  &:hover {
    color: var(--color-white);
    background: var(--color-green-ghost);
  }
}

.buttonSecondary {
  color: var(--color-white);
  border: solid 1px var(--color-white);
  background: inherit;

  &:hover {
    color: var(--color-dark-extra);
    background: var(--color-white);
  }
}

.buttonDisabled {
  cursor: not-allowed;
  color: var(--color-grey-300);
  background: var(--color-grey-700);
  border: solid 1px var(--color-grey-800);

  &:hover {
    color: var(--color-grey-300);
    background: var(--color-grey-700);
  }
}
