

.button {
    font-family: inherit;
    border: solid 1px var(--color-green);
    font-size: 14px;
    font-weight: bold;
    color: var(--color-background);
    outline: none;
    min-width: 100px;
    height: 48px;
    padding: 0 16px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--color-green);
    box-shadow: var(--box-shadow);
    transition: .3s;

    &:hover {
        color: var(--color-white);
        background: var(--color-green-ghost);
    }
}

.buttonDisabled {
    cursor: not-allowed;
    color: var(--color-grey);
    background: var(--field-disabled);
    border: solid 1px var(--field-disabled);

    &:hover {
        color: var(--color-grey);
        background: var(--field-disabled);
    }
}