.item {
    display: flex;
    flex: 1;
}

.item + .item {
    border-left: solid 1px var(--color-white);;
}

.itemContent {
    display: flex;
    flex: 1;
    padding-left: 16px;
    height: auto;
    flex-direction: column;
}



.itemHeader {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.itemTitle{
    font-weight: bold;
}

.itemLabel {
    background-color: var(--color-white);
    max-width: 80px;
    height: auto;
    color: var(--color-bg);
    font-size: var(--font-10);
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 8px;
    padding: 4px 8px;
}

.itemDescription {
    color: var(--color-bg);
    font-size: var(--font-12);
   font-weight: bold;
}