

.item {
    width: 440px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-bg-dark);
    padding: 16px;
    align-items: center;
}

.user {
    width: 240px;
    display: flex;

    &__logo {
        margin-right:12px;
    }
}

.info {
    display: flex;
    align-items: center;

    &__level {
        background-color: var(--color-green-dark);
        font-size: 10px;
        padding: 2px;
        border-radius: 6px;
        text-align: center;
        margin-left: 4px;
    }

    &__icon {
        width: 16px;
        margin-left: 4px;
    }

    &__title {
        font-size: 14px;
    }
}

.link {
    display: flex;
    align-items: center;

    &__icon {
        width: 12px;
        margin-right: 4px;
        color: var(--color-grey);
    }

    &__title {
        font-size: 12px;
        color: var(--color-text-grey);
    }
}

.total {
    font-size: 14px;
}
