

.item {
    height: 400px;
    padding: 32px;
    margin-bottom: 40px;
    border-radius: 10px;
    background: var(--color-background-light);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    position: relative;
}

.wrapper {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0, rgba(0,0,0,1) 100%);
        position: absolute;
        left: 0;
        bottom: 0;
    }

    &__img {
        width: 100%;
    }
}


.user {
    z-index: 30;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
        font-size: 24px;
        font-weight: bold;
        margin-top: 8px;
    }
}

.progress {
    width: 240px;
    height: 8px;
    background-color: var(--color-green);
    border-radius: 6px;
    margin-top: 8px;
}

.membership {
    font-size: 14px;
    margin-bottom: 16px;
    color: var(--color-green-darker);
}

.socials {
    display: flex;

    &__link {
        color: var(--color-white);
    }
}

.root {
    margin-right: 16px;
    display: flex;
}

.icon {
    margin-right: 8px;
}

.nick {
    font-size: 12px;
    line-height: 24px;
}