.item {
    min-width: 70px;
    font-size: var(--font-12);
    font-weight: bold;
    padding: 4px;
    color: var(--color-bg);
    border-radius: 12px;
    text-align: center;
    background-color: var(--color-green);
}

.item +.item {
    margin-left: 16px;
}