

.controls {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.inner {
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 24px;
    background: var(--color-background-overlay);
}

.item {
    cursor: pointer;
    display: flex;

    &__icon {
        color: var(--color-white);
    }
}

.timeline {
    width: 100%;
    position: relative;
}

.tooltip {
    color: var(--color-white);
    padding: 16px;
    border-radius: 8px;
    background: var(--color-background-overlay);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    bottom: 48px;
    left: 0;

    &__visible {
        opacity: 1;
        visibility: visible;
    }
}


.progressbar {
    width: 100%;
    height: 8px;
    border-radius: 2px;
    background: var(--color-grey);
    position: relative;

    &__fill {
        height: 8px;
        border-radius: 2px;
        background: var(--color-white);
        position: absolute;
        top: 0;
        left: 0;
    }
}



input[type="range"].input {
    margin: 0;
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
}

input[type="range"].controlsTimelineInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
}

input[type="range"].controlsTimelineInput::-moz-range-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
}

input[type="range"].controlsTimelineInput::-ms-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
}

.time {
    font-size: 14px;
    color: var(--color-white);
    display: flex;
    align-items: center;

    &__item {
        text-align: center;
        width: 64px;
    }
}



.volume {
    position: relative;
}

.volume:hover .menu {
    visibility: visible;
    opacity: 1;
}

.menu {
    padding-bottom: 32px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    left: 8px;
    bottom: 24px;

    &__bar {
        width: 8px;
        height: 96px;
        cursor: pointer;
        border-radius: 2px;
        background: var(--color-grey);
        position: relative;
    }

    &__container {
        width: 40px;
        height: calc(64px * 2);
        padding: 16px;
        border-radius: 8px;
        background: var(--color-background-overlay);
    }
}

.fill {
    width: 8px;
    background: var(--color-white);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

input[type="range"].menu__input {
    height: 8px;
    width: 96px;
    margin: 0;
    cursor: pointer;
    background: transparent;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: left top;
    -webkit-appearance: none;
    position: absolute;
    top: 16px;
    left: 16px;
}

input[type="range"].menu__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
}

input[type="range"].menu__input::-moz-range-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
}

input[type="range"].menu__input::-ms-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
}

input[type="range"].menu__input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
}

.screen {}
