.root {
    min-height: 100vh;
    max-width: calc(100% - 320px);
    width: 100%;
    padding-top: 96px;
    margin-left: 320px;
    display: flex;
    flex-direction: column;
}

.rootFull {
    max-width: calc(100% - 90px);
    margin-left: 90px;
}

.content {
    max-width: 1280px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.contentFull {
    max-width: initial;
}

.inner {
    padding: 40px 0;
    flex: 1;
}

