

.item {
    max-width: 360px;
    background-color: var(--color-background-light);
    padding: 24px;
    border-top: solid 3px var(--color-green);

    &__title {
        font-weight: bold;
        margin-bottom: 24px;
    }
}

.button {
    font-size: 16px;
    margin: 16px 0;
    width: 100%;
}

.wrapper {
    height: 480px;
    overflow-y: auto;
}