.sidebar {
  max-width: 320px;
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--color-grey);
  background: var(--color-dark);
  box-shadow: var(--box-shadow);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
}

.sidebar.sidebarCollapsed {
  max-width: 90px;
}

.sidebarToggle {
  width: 32px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--color-grey);
  background: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  right: -16px;
  z-index: 1;
  user-select: none;
}

.logo {
  height: 48px;
  max-width: 320px;
  width: 100%;
  padding: 0 16px;
  margin: 16px 0;
  overflow: hidden;
  position: relative;
}

.logo.logoCollapsed {
  max-width: 90px;
}

.logoInner {
  width: 100%;
  height: 48px;
}

.sidebarList {
  height: calc(100% - 96px);
  overflow-y: auto;
  padding: 0 8px;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
}

.sidebarListItem + .sidebarListItem {
  margin-top: 8px;
}
