.component {
    width: 100%;
    min-height: 480px;
    border-radius: 8px;
    overflow: hidden;
    background: var(--color-black);
    position: relative;
}

.componentInner {
    width: 100%;
    height: 100%;
    position: absolute;
}