.item {
    background-color: var(--color-grey-900);
    border-radius: 8px;
    margin: 8px;
    flex: calc(100%/7) 1;
    flex-grow: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: solid 1px var(--color-grey);
    position: relative;
    padding-bottom: 32px;

    &:hover {
        transform: scale(1.05);
    }
}



.image {
    height: 132px;
    overflow: hidden;

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 0 0;
        object-fit: contain;
    }
}

.stats {
    height: 32px;
    width: 100%;
    background-color: var(--color-grey-900);
    display: flex;
    padding: 8px;
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    left: 0;

    &__like {
        color: var(--color-text-grey);
        font-weight: bold;
        font-size: 12px;
        display: flex;
        align-items: center;
    }
}

.comment {
    color: var(--color-text-grey);
    font-weight: bold;
    font-size: 12px;
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.icon {
    color: var(--color-text-grey);
    margin-right: 8px;
}

