.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item +.item {
    margin-left: 48px;
}

.itemIcon {
    margin-bottom: 16px;
}


.itemContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    align-items: center;
}

.itemContentTitle {
    font-size: var(--font-20);
    font-weight: bold;
}

.itemContentDescription {
    color: var(--color-grey);
    font-size: var(--font-12);
}

.itemContentButton {
    color: var(--color-white);
    padding: 8px;
    height: auto;
}

.itemContentButtonGreen {
    background-color: var(--color-green-ghost);
    border: solid 1px var(--color-green);

}

.itemContentButtonViolet {
    background-color: var(--color-violet-ghost);
    border: solid 1px var(--color-violet);
}

.itemContentButtonGreen:hover {
    background-color: var(--color-green);
    color: var(--color-black);
}

.itemContentButtonViolet:hover {
    background-color: var(--color-violet);
    color: var(--color-black);
}

