.tournamentContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: var(--color-bg);
}

.tournamentWrapper {
    height: auto;

}

