.item {
    width: 100%;
    padding: 24px;
}

.itemHeader {
    display: flex;
    justify-content: space-between;
}


.itemHeaderTitle {
    font-weight: bold;
}

.itemHeaderRosterInfo {
    display: flex;
    background-color: var(--color-background-lighter);
    margin-left: 16px;
    border-radius: 8px;
    padding: 8px;
    border: solid 1px var(--color-border);
}

.itemInfoTitle {
    font-size: var(--font-12);
    color: var(--color-grey);
    cursor: pointer;
    padding-left: 16px;
    position: relative;
}

.itemInfoTitleActive {
    color: var(--color-violet);
}

.itemInfoTitleActive:after {
    content: "";
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: var(--color-violet);
    position: absolute;
    bottom: 5px;
    left: 8px;
}

.itemTeamPlayersItem {
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0;
    overflow-y: auto;
}

