

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-bottom: solid 1px var(--color-grey);
}

.title {
    font-size: 12px;
    font-weight: bold;
}

.content{
    display: flex;

    &__tabs{
        display: flex;
        align-items: center;
        border-right: solid 1px var(--color-grey);
    }
}

.tabs {
    font-size: 12px;
    margin-right: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;

    &__active {
        color: var(--color-violet);

        &:after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: var(--color-violet);
            position: absolute;
            bottom: -10px;
            left: 0;
        }
    }
}

.switch {
   margin-left: 16px;
}