.media {
    padding: 8px;
}

.wrapperHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.mediaTabBar {
    padding: 0 0 12px;
    margin-bottom: 12px;
    border-bottom: solid 1px var(--color-grey);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}
