.tournamentContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: var(--color-bg);
}

.tournamentWrapper {
    height: auto;

}

.wrapperMatchTournament {
}

.matchTournament {
    background-color: var(--color-bg-dark);
    max-width: 240px;
    padding: 6px;
    border-radius: 8px;
    border: solid 1px var(--color-grey);
    display: flex;
    align-items: center;
    margin: 0 20px 8px 20px;
    justify-content: space-between;
}

.iconTournamentMatch {
    height: 32px;
    width: 40px;
}

.nameTeamTournament {
    font-size: var(--font-16);
    padding-right: 40px;
    margin: 6px;
    border-right: solid 1px var(--color-white);
}

.numberTeamTournament {
    margin: 0 12px;
}
