.wrapperMatchDetail {
    background-color: var(--color-background-light);
    width: 100%;
    height: auto;
    padding: 40px;
    border-radius: 8px;
}

.matchDetailInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerMatchDetailInfo {
    color: var(--color-green);
    font-size: var(--font-12);
    margin-bottom: 4px;
}

.wrapperTitleMatchDetailInfo {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.titleMatchDetailInfo {
    margin-right: 12px;
    font-size: var(--font-20);
}

.buttonMatchDetail {
    background-color: var(--color-green);
    color: var(--color-white);
    opacity: 80%;
    display: flex;
    align-items: center;
    border: solid 1px var(--color-green-darker);
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
}

.buttonMatchDetail:hover {
    background-color: var(--color-violet);
}

.shareButtonMatchDetail {
    margin-right: 4px;
}

.logoGameMatchesDetailInfo {
    width: 102px;
}

.matchDetailResults {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperDetailMatch {
    display: flex;
    padding: 8px;
    align-items: center;
}

.wrapperResultMatch {
    display: flex;
    align-items: center;
}

.resultMatchInfo {
    padding: 6px;
}

.resultMatchInfoLeft {
    text-align: right;
    margin-right: 32px;
}

.resultMatchInfoRight {
    text-align: left;
    margin-left: 32px;
}

.battleStatusResultMatch {
    font-size: var(--font-12);
    margin-bottom: 4px;
}

.battleStatusVictoryResultMatch {
    color: var(--color-green);

}

.battleStatusDefeatResultMatch {
    color: var(--color-red);
}

.battleStatusDrawResultMatch {
    color: var(--color-violet);
}

.nameTeamResultMatch {
    font-size: var(--font-20);
    font-weight: 100;
}

.logoResultMatch {
    width: 102px;
}



.checkResultMatch {
    font-size: var(--font-48);
    margin: 0 32px;
}

.textDetailMatch {
    color: var(--color-green);
    font-size: var(--font-48);
    margin: 0 16px;
}

.wrapperDataDetailResults {
    padding: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 64px;
}

.dataDetailResults {
    font-size: var(--font-12);
    margin-bottom: 4px;
}

.timeDetailResults {
    font-size: var(--font-12);
    color: var(--color-green);
}

.wrapperInfoDetailMatch {
    display: flex;
    padding: 8px;
}

.infoDetailMatch {
    background-color: var(--color-green);
    border-radius: 16px;
    min-width: 80px;
    font-size: var(--font-12);
    text-align: center;
    margin-left: 16px;
    padding: 4px;
}

.statisticsPlayers {
    display: flex;
    align-items: flex-start;
    padding: 8px;
}

.wrapperTeamStatistics {
    flex: 1;
    border-radius: 8px;
    border: var(--border);
    overflow: hidden;
}

.wrapperTeamStatisticsRight{
    margin-left: 8px;
}

.wrapperTeamStatisticsLeft {
    margin-right: 8px;
}

.wrapperUserStatisticHeader {
    border-bottom: var(--border);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    background-color: var(--color-bg-lighter);
}

.wrapperUserStatisticPlayer {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-bg-dark);
    padding: 16px;
    align-items: center;
}

.userResultTeam {
    display: flex;
}

.logoUserTeamStatisticPlayer {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    margin-right: 8px;
}


.userInfoStatisticResult {
    display: flex;
    align-items: center;
}

.nickNameUserStatisticResult {
    font-size: var(--font-14);
}

.accountStatusProStatisticResult {
    background-color: var(--color-violet);
    font-size: var(--font-10);
    border-radius: 6px;
    text-align: center;
    padding: 2px;
    margin: 0 4px;
}

.levelUserStatisticResult {
    background-color: var(--color-green-dark);
    font-size: var(--font-10);
    padding: 2px;
    border-radius: 6px;
    text-align: center;
}

.statusLogoUserInfoStatisticResult {
    width: 16px;
    margin-left: 4px;

}


.linkUserInfoStatisticResult {
    display: flex;
    align-items: center;
}

.iconLinkStatisticResult {
   width: 12px;
    margin-right: 4px;
    color: var(--color-grey);
}

.linkNameUserInfoStatisticResult {
    font-size: var(--font-12);
    color: var(--color-text-grey);
}

.resultMatchesUser {
    font-size: var(--font-14);
}