.avatar {
    position: relative;
}

.avatar:after {
    content: "";
    width: 58px;
    height: 58px;
    border: solid 1px var(--color-border);
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.avatarImage {
    height: 48px;
    width: 48px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    background: var(--color-background-lighter);
    border: solid 1px var(--color-border);
    box-shadow: var(--box-shadow);
    transition: border 0.3s ease;
}

.avatarImg {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.avatarImgOffline {
    filter: grayscale(1);
}

.avatarImageIndicator {
    width: 8px;
    height: 8px;
    background: var(--color-border);
    outline: solid 4px var(--color-background-light);
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.avatarImageIndicatorOnline {
    background: var(--color-green);
}

.avatarLarge {

    .image {
        width: 102px;
        height: 102px;
    }

    .level {
        font-size: var(--font-20);
        line-height: 48px;
        width: 48px;
        height: 48px;
    }
}
