.item {
    padding: 24px;
    border-radius: 8px;
}

.title{
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    margin-bottom: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    &__title {
        font-size: 12px;
        color: var(--color-grey);
    }
}


.games {
    display: flex;
    flex-wrap: wrap;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
}