.edit {
  padding: 48px;
  border-radius: 8px;
  border: solid 1px var(--color-border-light);
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 64px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.avatar {
  display: flex;
  align-items: center;
}


.wrapperContent {
  width:70% ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  width: 100%;
}

.content {
  display: flex;
}

.column {
  width: 100%;
}

.column + .column {
  margin-left: 16px;
}

.left {
  width: 100%;
  margin-right: 24px;
}

.right {
  width: 100%;
}



.input {
  margin-bottom: 16px;
  cursor: pointer;
}

.dropdown {
}

.button {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.buttonBtn {
  margin-right: 16px;
}