.item {
  padding: 48px;
  border-radius: 8px;
  border: solid 1px var(--color-border-light);
}

.title {
  font-size: 24px;
  font-weight: 700;
}


.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 64px 0;
}

.avatarTitle {
  font-size: 12px;
  color: var(--color-grey);
  margin-top: 8px;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.info {
  width: 100%;
}

.wrapperContent {
  margin-bottom: 32px;
}

.profileTitle {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.block {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block + .block {
  margin-left: 16px;
}

.input {
  width: 100%;

  cursor: pointer;
}

.input + .input {
  margin-left: 16px;
}

.wrapperButton {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100%;
}

.button + .button {
  margin-left: 16px;
}

.buttonBtn {
  width: 100%;
}