.form {
  display: flex;
  justify-content: center;
}

.item {
  padding: 32px;
  max-width: 400px;
  //width: 100%;
  background-color: var(--color-dark);
  border-radius: 8px ;
  border: solid 1px var(--color-grey);
  display: flex;
  flex-direction: column;

}

.wrapper {
  margin-bottom:24px ;

  .title {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

.titleActive{
  color: var(--color-green);
}

.input {

}

.input + .input {
  margin-top: 16px;
}

.checkbox {
  margin-top: 16px;
}


.button {
  margin-top:24px ;
}
