.item {
    border-radius: 8px;
    margin: 8px;
    flex: calc(100%/7) 1;
    flex-grow: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: solid 1px var(--color-border);
    position: relative;
    padding-bottom: 32px;
}

.item:hover {
    transform: scale(1.05);
}

.itemImage {
    height: 132px;
    overflow: hidden;
}

.itemImageImg {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: contain;
}

.itemStats {
    height: 32px;
    width: 100%;
    background-color: var(--color-background-light);
    display: flex;
    padding: 8px;
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.itemStatsLike {
    color: var(--color-grey);
    font-weight: bold;
    font-size: var(--font-12);
    display: flex;
    align-items: center;
}


.itemStatsComment {
    color: var(--color-grey);
    font-weight: bold;
    font-size: var(--font-12);
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.itemStatsIcon {
    color: var(--color-grey);
    margin-right: 8px;
}
