

.item {
    padding: 32px;
    margin-bottom: 40px;
    background: var(--color-background-light);
    border: 1px solid var(--color-border);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.header {
    margin-bottom: 40px;

    &__title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    &__caption {
        font-size: 20px;
        color: var(--color-grey);
    }
}

.container {
    width: calc(100% + 64px);
    height: 470px;
    margin: 0 -32px 40px;
    background: var(--color-background-lighter);
    overflow: hidden;
    position: relative;

    &__image {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.detail {
    font-size: 18px;
    margin-bottom: 40px;

    * {
        margin-bottom: 16px;
    }

    &.h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }
}

.footer {
    border-top: 1px solid var(--color-border);
    padding-top: 32px;

    &__controls {

    }
}

