.item {
    display: flex;
    padding: 8px;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;

    &__right {
        flex-direction: row-reverse;
    }
}

.result {
    padding: 6px;

    &__left {
        text-align: right;
        margin-right: 32px;
    }

    &__right {
        text-align: left;
        margin-left: 32px;
    }
}


.battle {
    font-size: 12px;
    margin-bottom: 4px;

    &__victory {
        color: var(--color-green);
    }

    &__defeat {
        color: var(--color-red);
    }

    &__draw {
        color: var(--color-violet);
    }
}


.title {
    font-size: 20px;
    font-weight: 100;
}

.logo {
    width: 102px;
}

.score {
    font-size: 48px;
    margin: 0 32px;
}